{% extends "webapp/templates/webapp_base.html" %}

{% block content %}

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(/assets/webapp/frontend/img/construction/showcase-2.webp);">
      <div class="container position-relative">
        <h1>Starter Page</h1>
        <p>Use this page as a starter for your custom layouts.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Starter Page</li>
          </ol>
        </nav>
      </div>
    </div>

    <section class="section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Starter Section</h2>
        <p>Use this section to introduce your content.</p>
      </div>
      <div class="container" data-aos="fade-up">
        <p>Replace this text with your official content.</p>
      </div>
    </section>
  
{% endblock %}

