<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/bizmastros/images/ey-1.webp" alt="Clarity in Compliance"
                class="d-block w-100 carousel-img">
            <div class="carousel-caption">
                <h3>Clarity in Compliance</h3>
                <p>Helping you stay compliant while building a stronger financial future.</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="/assets/bizmastros/images/ey-2.webp" alt="Trusted Tax & Advisory Partner" class="d-block"
                style="width:100%">
            <div class="carousel-caption">
                <h3>Your Trusted Tax & Advisory Partner</h3>
                <p>Reliable expertise in taxation, audit, and business advisory.</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="/assets/bizmastros/images/ey-3.webp" alt="Numbers You Can Trust" class="d-block"
                style="width:100%">
            <div class="carousel-caption">
                <h3>Numbers You Can Trust</h3>
                <p>Accurate accounting and insights that support confident decisions.</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="/assets/bizmastros/images/ey-4.webp" alt="Expert Accounting Services" class="d-block"
                style="width:100%">
            <div class="carousel-caption">
                <h3>Expert Accounting Services</h3>
                <p>Built on integrity, experience, and long-term client relationships.</p>
            </div>
        </div>
    </div>


    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>